@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&family=Roboto:wght@400;700&display=swap');

.tabela_dados {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.tabela {
    min-width: 100%;
    text-align: center;
    padding: 1rem;
    border-collapse: collapse;
}
.tabela caption {
    text-transform: uppercase;
    height: 2rem;
    font-size: 1.2rem;
}
.tabela th,
.tabela td,
.tabela caption {
    padding: 0.7rem;
    align-items: center;
}
.tabela thead {
    background-color: #2F8FAD;
    
}

.tabela tbody tr:nth-of-type(odd) {
    background-color: rgba(47, 143, 173, 0.1); /* Cor de fundo para linhas ímpares */
}
.tabela tbody tr:nth-of-type(even) {
    background-color: rgba(47, 143, 173, 0.2); /* Cor de fundo para linhas pares */
}
.tabela tbody tr:hover {
    background-color: rgba(47, 143, 173, 0.7); /* Cor de fundo para linhas pares */
}
